body {
	margin:0px;
	padding:0px;
	font-family: verdana, arial, sans-serif;
	color:#222;
	background-color:#ffffff;/*eeeeee*/
	}
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
	color:#aaa;
	}
h3 {
	font:8px verdana, arial, sans-serif;
	margin:5px 0px 5px 0px;
	padding:0px;
        text-align:right;
	}
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}

a {
	color:#09c;
/*	font-size:12px; */
	text-decoration:none;
	font-weight:600;
	font-family: verdana, arial, helvetica, sans-serif;
	}
a:link {color:#09c;}
a:visited {color:#07a;}

a:hover {background-color:#add;}

#Header {
	margin:50px 0px 10px 0px;
	padding:17px 0px 0px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top
		padding] + [top and bottom border widths] */ 
	height:33px; /* 14px + 17px + 2px = 33px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and
			 right borders: 0px */ 
	line-height:11px;
	background-color:#ddd;

/* Here is the ugly brilliant hack that protects IE5/Win from its own
stupidity. Thanks to Tantek Celik for the hack and to Eric Costello for
publicizing it. IE5/Win incorrectly parses the "\"}"" value, prematurely
closing the style declaration. The incorrect IE5/Win value is above,
while the correct value is below. See http://glish.com/css/hacks.asp for
details. */ 
	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px; /* the correct height */
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it
feeds correct length values to user agents that exhibit the parsing
error exploited above yet get the CSS box model right and understand the
CSS2 parent-child selector. ALWAYS include a "be nice to Opera 5" rule
every time you use the Tantek Celik hack (above). */ 
body>#Header {height:14px;}

#Content {
	margin:0px 210px 50px 10px;
	padding:10px;
	font-size:13px;
	font-family: verdana, arial, helvetica, sans-serif;
	}

#Menu {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	top:100px;
	right:20px;
	width:182px;
	padding:10px;
	background-color:#ccc;
	border:1px dashed #999;
	line-height: 1.75;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:150px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:150px;}

.Desc {
        font-style: italic;
	background-color: #addddd;
	border: 1px dotted #999; 
	padding: 5px;
	margin: 0px auto;
	font-size: 90%;
	color:green;
	font-family: arial, helvetica, sans-serif;
	voice-family: "\"}\"";
	voice-family:inherit;
	}


/*body>#Desc*/

.doublespaced {
}

span.footnote{
  display:none;
  background:#ccd; 
}

.searchword {
     background-color: #555555;
     color: #eeeeee;
}


.normal { font-style: normal }
.highlight { font-style: italic}
.oper {
	color:#000;
	}
